.screen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start;
    background: #3c3c3c;
    width: 1044px;
    padding: 10px;
}

.led {
    flex: 0 0 auto;
    margin: 2px;
    width: 12px;
    height: 12px;
}
